AreaVerde30m.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
Pesos.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
Video_DeepGreenDiagnostics.mp4 filter=lfs diff=lfs merge=lfs -text
